/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.login-container
{
    max-width: 5px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}




.home-container,
.practice-container,
.flashcards-container,
.sentence-correction-container,
.progress-reports-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.flashcards-container,
.sentence-correction-container,
.progress-reports-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

.home-container .content,
.practice-container .practice-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.section,
.option {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    text-align: center;
    width: 300px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

button {
    padding: 10px;
    background-color: #357a38;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #2e6d31;
}

.forgot-password {
    text-align: right;
    font-size: 12px;
}

.forgot-password a {
    color: #357a38;
    text-decoration: none;
}

.correct-answer {
    color: green;
    font-weight: bold;
}

.progress-chart {
    margin: 20px 0;
    text-align: center;
}
